.style-add {
    background-color: #121C31;

}

.logo-header {
    width: 164px;
    margin-right: 42px;


}


.daily-part {
    color: #0DB2E3;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    /* line-height: 1.5; */
    font-size: 50px;

}

.select-part {
    color: #62738D;
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .daily-part {
        font-size: 20px;
    }
}