.question-section {
    padding: 80px;
    background-color: #3C2317;

}

.question {
    margin-bottom: 8px;
    background-color: #0F172A;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .question-section {
        padding: 10px;
    }
}